  
table {
    border-collapse: collapse;
    margin: auto;
    font-family: sans-serif;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td{
    padding: 10px;
    text-align: center;
}
    
th{
    font-weight: bold;
}
    
.table thead tr{
    background-color: rgb(253, 177, 91);
}

.table tbody tr:nth-of-type(even) {
    background-color: #f5eae4;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(253, 177, 91);
}

caption{
    font-size: 36px;
    margin-bottom: 5px;
}

.name-table{
    font-size: 32px;
    text-align: center;
    margin-block: 10px 10px;
}

@media (max-width: 1200px){
    .table{
        overflow-x: auto;
        margin: auto 10px;
        border: 1px solid black;
        border-radius: 5px 5px 0 0;
    }
    .name-table{
        font-size: 30px;
    }
}