@import url("./components/navbar.css");
@import url("./components/listaPacotes.css");

.home-container {
    padding-bottom: 80px;
}

.hero-container {
    font-size: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container img {
  max-width: 672px;
}

.hero-container h1 {
    max-width: 500px;

    font-size: 64px;
    font-weight: 500;
}

.filtro {
    margin-bottom: 54px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campo {
    padding: 0 21px;

    height: 58px;
}

.botao-filtrar {
    width: 220px;
    height: 58px;

    font-size: 28px;

    color: var(--white);

    background: var(--degrade);

    border: 0;

    border-radius: 15px;

    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

.botao-filtrar:hover {
    opacity: 0.8;
}

@media (max-width: 1200px) {
  .hero-container {
    margin-bottom: 32px;

    flex-direction: column-reverse;
  }

  .hero-container h1 {
    font-size: 40px;
    text-align: center;
  }

  .hero-container img {
    width: 90%;
  }

  main .filtro {
    flex-direction: column;
  }

  main .filtro .campo {
    width: 90% !important;
    margin-bottom: 8px !important;
  }
}

@media (max-width: 1400px) {

  main .filtro .campo {
    width: 25%;
  }
}