<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{perfil.title}"> | Excellent Voyage</title>
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/perfil.css" />
</head>
<body>
    <div class="perfil-container box">
        <navbar class="navbar-container">
            <a><img class="logo" src="../image/logo.svg" /></a>
            <div class="right-side">
                <a href="PerfilAdmin.html" class="botao-logado">
                    <img src="../image/icons/person-circle.svg"/><p>Admin</p>
                </a>
                <a href="index.html" class="botao-logado">
                    <img src="../image/icons/exit.svg"/> <p>Sair</p>
                </a>
            </div>
        </navbar>


        <div class="texto-inicio">
            <h1>
              <span> Olá Admin,</span>
              
            </h1>
        </div>
    
        <div>
            <table>
                <caption> Tablea de Clientes</caption>
                <tr>
                    <th>ID</th>
                    <th> Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Sexo</th>
                    <th>Telefone</th>
                    <th>Data de nascimento</th>
                    <th>Editar</th>
                    <th>Remover</th>
    
                </tr>
                <tr>
                    <td th:text="${Cliente.id}">1</td>
                        <td th:text="${Cliente.nome}">Alan</td>
                        <td th:text="${Cliente.cpf}">676.583.990-94</td>
                        <td th:text="${Cliente.email}">Alan@gmail.com</td>
                        <td th:text="${Cliente.sexo}">Masculino</td>
                        <td th:text="${Cliente.telefone}">(16)99856-5241</td>
                        <td th:text="${#calendars.format(Cliente.dataNascimento, 'dd/MM/yyyy')}">11/12/1995</td>
                        <td><a href="cadastroCliente.html">Editar</a></td>
                        <td><a href="index.html" onclick="return confirm('Tem certeza de que deseja excluir este usuário? todas as compras deste usuário serão excluidas');">Remover</a></td>
                </tr>
            </table>
        </div>
    
        <div>
            <table>
                <caption style="margin-top: 30px;"> Tabela de Agencias</caption>
                <tr>
                    <th>ID</th>
                    <th th:text="#{cadastro.nome}"> Nome</th>
                    <th th:text="#{cadastro.cnpj}">CNPJ</th>
                    <th th:text="#{cadastro.email}">Email</th>
                    <th th:text="#{admin.editar}">Editar</th>
                    <th th:text="#{admin.remover}">Remover</th>
                </tr>
    
                    <tr>
                        <td th:text="${Agencia.id}">1</td>
                        <td th:text="${Agencia.nome}">CVC</td>
                        <td th:text="${Agencia.cnpj}">44.678.971/0001-60</td>
                        <td th:text="${Agencia.email}">cvc@gmail.com</td>
                        <td><a href="cadastroAgencia.html">Editar</a></td>
                        <td><a href="index.html" onclick="return confirm('Tem certeza de que deseja excluir este usuário? todas os pacotes turisticos desta agencia serão excluidos');">Remover</a></td>
                    </tr>
                </c:forEach>
            </table>
        </div>
    </div>
</body>
</html